*,
html{
    margin :0;
    padding :0;
}
body{
    background-color :rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.navbar-container{
   background-color: rgb(122, 85, 207);
    height :10vh;
}
.ul-navbar{
    display :flex;
    height :100px;
    justify-content :center;
    align-items :center;
}
.li-navbar{
    background-color :rgb(115, 6, 170);
    border :3px solid white;
    list-style-type :none;
    padding :20px;
    margin :5px;
    color :rgb(255, 255, 255);
    font-size :20px;
    
}

.li-navbar:hover{
    background-color :rgb(136, 136, 136);
    border-radius :10px;
}

.a-navbar{
    color :white;
    text-decoration :none;
   
    
}

.content-container{
    display :flex;
    justify-content :center;
    align-items :center;
    height :80vh;
    
}

.img.container{
    width :30%;
    height :30%;
}

.container-footer{
background-color: rgb(122, 85, 207);
height :10vh;
display :flex;
justify-content :center;
align-items :center;
}

.h1-footer{
    
font-size :40px;
color :white;
}